{# src/Algo/SiteBundle/Resources/views/Page/team.html.twig #}
{% extends '::layout.html.twig' %}
{% block title %}Η ομάδα{% endblock %}
{% block article %}
 
       

  
<div class="article">
          <h2><span>Για την </span> ομάδα μας</h2>
          <div class="clr"></div>
          <div class="post_content">
<p><strong> Είμαστε μια ομάδα ανθρώπων της πληροφορικής,με πολυετή εμπειρία στον χώρο  που αποφασίσαμε να ενώσουμε τις δυνάμεις με στόχο να ωθήσουμε τις μηχανογραφικές υπηρεσίες σε μία νέα κατεύθυνση. 
<p> Μετά από  μια 20ετή διαδρομή στην μηχανογράφηση με έδρα την Καβάλα αποφασίσαμε να ασχοληθούμε αποκλειστικά  με την παροχή υπηρεσιών πράγμα που τελικά ήταν αυτό που μας άρεσε περισσότερο και αυτό το οποίο οι άνθρωποι που συνεργάστηκαν μαζί μας όλα αυτά τα χρόνια εκτίμησαν σ'εμάς. 
<p> Ελπίζουμε μ'αυτόν τον τρόπο να μπορέσουμε να βελτιώσουμε την ποιότητα των υπηρεσιών που παρείχαμε ως τώρα άλλα και να επικεντρωθούμε σε λύσεις τεχνολογικά εξελιγμένες κάνοντας τες παράλληλα και προσιτές σε μιά εποχή που είναι περισσότερο από ποτέ  απαραίτητες. 
<p> Πέρα από το εμπορολογιστικό λογισμικό (Κεφάλαιο,xLine,Atlantis), έχουμε αποφασίσει να αξιοποιήσουμε την εμπειρία μας στο λογισμικό ανοιχτού κώδικα (open source software) που είναι συνυφασμένο με τον τεχνολογικό νεωτερισμό, την ασφάλεια και το χαμηλό κόστος εγκατάστασης και συντήρησης. Τομείς όπως πολύπλοκες δικτυακές και διαδικτυακές λύσεις(WAN,VPN), IP τηλεφωνία (Asterisk PBX), υπηρεσίες διαδικτύου (Web Servers,Mail Servers),εφαρμογές διαδικτύου (Web Applications)  βασισμένες κυρίως σε open source πλατφόρμες, είναι η νέα γκάμα υπηρεσιών που προσφέρουμε.
<p> Έχοντας ήδη μια μεγάλη βάση εγκαταστάσεων που είναι η ουσιαστική αναγνώριση των προσπάθειων μας ως τώρα,η επιλογή αυτή μας δίνει την βεβαιότητα ότι θα προχωρήσουμε στο μέλλον πέρα από τα όρια μιας συμβάτικης μηχανογραφικής υποστήριξης,που θα ικανοποιήσει τις αναζητήσεις τόσο τις δικές μας όσο και αυτών που συνεργάζονται μαζί μας. 
<p> Ρούλα Ξανθοπούλου
<p> Δημήτρης Παράσχου
<p> Θανάσης Πασχαλίδης</strong>
       <div class="clr"></div>
        </div>
        </div>

        
{% endblock %}